name: Export CPI iFlow

on:
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Get OAuth Token
        run: |
          TOKEN=$(curl -X POST \
            "${{ secrets.CPI_TOKEN_URL }}" \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "grant_type=client_credentials&client_id=${{ secrets.CPI_CLIENT_ID }}&client_secret=${{ secrets.CPI_CLIENT_SECRET }}" \
            | jq -r '.access_token')
          
          echo "TOKEN=$TOKEN" >> $GITHUB_ENV

      - name: Download iFlow ZIP
        run: |
          curl -X GET \
          "${{ secrets.CPI_BASE_URL }}/api/v1/IntegrationDesigntimeArtifacts('${{ secrets.CPI_ARTIFACT_ID }}')/\$value?packageId=${{ secrets.CPI_PACKAGE_ID }}" \
          -H "Authorization: Bearer $TOKEN" \
          -o gmail_new.zip

      - name: Debug ZIP
        run: |
          head -c 200 gmail_new.zip | cat

      - name: Replace old iFlow
        run: |
          rm -rf gmail
          unzip gmail_new.zip -d gmail

      - name: Commit to Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Auto export from CPI" || echo "No changes"
          git push
