name: Export CPI iFlow to GitHub

on:
  schedule:
    - cron: "0 */6 * * *"   # every 6 hours
  workflow_dispatch:        # manual run

jobs:
  export-iflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Get OAuth Token
        run: |
          TOKEN=$(curl -X POST "${{ secrets.CPI_TOKEN_URL }}" \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "grant_type=client_credentials&client_id=${{ secrets.CPI_CLIENT_ID }}&client_secret=${{ secrets.CPI_CLIENT_SECRET }}" \
            | jq -r '.access_token')
          
          echo "TOKEN=$TOKEN" >> $GITHUB_ENV

      - name: Download iFlow ZIP
        run: |
          curl -X GET \
          "${{ secrets.CPI_BASE_URL }}/api/v1/IntegrationDesigntimeArtifacts('${{ secrets.CPI_ARTIFACT_ID }}')/\$value?packageId=${{ secrets.CPI_PACKAGE_ID }}" \
          -H "Authorization: Bearer $TOKEN" \
          -o gmail_new.zip

      - name: Prepare Folder
        run: |
          rm -rf gmail
          unzip gmail_new.zip -d gmail

      - name: Commit & Push Changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add gmail
          git commit -m "Auto-export from CPI" || echo "No changes"
          git push
