name: Export CPI Package (All iFlows)

on:
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      OAUTH_URL: ${{ secrets.OAUTH_URL }}
      CPI_HOST: ${{ secrets.CPI_HOST }}
      PACKAGE_ID: ${{ secrets.PACKAGE_ID }}

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Install jq
      run: sudo apt-get install jq

    - name: Get OAuth Token
      run: |
        TOKEN=$(curl -s -X POST \
        "$OAUTH_URL" \
        -H "Content-Type: application/x-www-form-urlencoded" \
        -d "grant_type=client_credentials&client_id=$CLIENT_ID&client_secret=$CLIENT_SECRET" | jq -r '.access_token')

        if [ -z "$TOKEN" ] || [ "$TOKEN" = "null" ]; then
          echo "âŒ Failed to fetch token. Check CLIENT_ID / CLIENT_SECRET / OAUTH_URL"
          exit 1
        fi
        echo "TOKEN=$TOKEN" >> $GITHUB_ENV
